@import "./utils/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $font-color;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: $background-color;
}

#root {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
}
